@font-face {
    font-family: MyMonaco;
    src: url("../fonts/Monaco-Linux.ttf");
}

body {
    position: relative;
    text-align: center;
}

h1 {
    margin: 0 0 0 0;
}

.button-panel {
    visibility: hidden;
}

.stopwatch {
    font-family: MyMonaco, sans-serif;
    font-size: 20vw;
}

.overtime {
    color: red;
}

.stopwatch-container {
    padding: 5vw 0 0 0;
}

/* Banners */
.sponsors {
    width: 95%;
    display: table;
    table-layout: fixed;
}

ul li {
    display: inline-block;
}

.banner {
    opacity: 0.6;
    max-width: 21vw;
    display: block;
    filter: grayscale(100%);
}

.debata-banner {
    max-width: 40%;
}
