body {
    position: relative;
    text-align: center;
}

h1 {
    margin: 0 0 0 0;
}

.stopwatch {
    /*color: white;*/
    font-family: Monaco, Helvetica, serif;
    font-size: 15vw;
}

.button-panel {
    /*visibility: hidden;*/
}

.stopwatch-container {
    background-color: black;
}

.sponsors {
    display: list-item;
}

.banner {
    opacity: 0.6;
}

/* Banners */

.vybezek-banner {
    max-width: 120%;
}


.debata-banner {
    max-width: 40%;
}

.vandej-banner {
    max-width: 30%;
}